:root {
    /* --- colors --- */
    --color-white: #ffffff;
    --color-light-gray: #f5f5f5;
    --color-dark: #141416;
    --color-grey: #7a7a7a;
    --color-blue: #0a4e8c;
    --color-blue-hover: #083d77;
    --color-green: #23967f;
    --color-green: #1d7874;
    --color-red: #de1a1a;
    --color-red-hover: #c0392b;
    /* --- default states --- */
    --default-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    --default-border: 1px solid #dcdcdc;
}