.modal-body-content {
  display: flex;
  gap: 20px;
}

.cancel-button {
  background: var(--color-white);
  box-shadow: var(--default-box-shadow);
  border: var(--default-border);
  padding: 12px 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: width 0.3s ease;
  gap: 10px;
  cursor: pointer;
  flex: 0.5;
}

.confirm-button {
  color: white;
  background: var(--color-blue);
  box-shadow: var(--default-box-shadow);
  border: var(--default-border);
  padding: 12px 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: width 0.3s ease;
  gap: 10px;
  cursor: pointer;
  flex: 0.5;
}

.delete-invoice {
  background: var(--color-red);
}
