/* APP LAYOUT */

.app-layout {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 250px 1fr;
  width: 100svw;
  height: 100svh;
  background: var(--color-light-gray);
}

/* HEADER POSITION LAYOUT*/

.app-layout > :first-child {
  grid-column: 1 / -1;
}

/* SIDEBAR POSITION LAYOUT */

.app-layout > :nth-child(2) {
  grid-row: 2;
  grid-column: 1;
}

/* OUTLET POSITION LAYOUT */

.app-layout > :nth-child(3) {
  grid-row: 2;
  grid-column: 2;
  overflow-y: auto;
  background: #f5f5f5;
  padding: 20px;
  /* CENTER CONTAINER */
  max-width: 1400px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
